<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <form method="post" action="/">
      <input type="date" name="start">
      <input type="date" name="end">
      <button type="submit">Go</button>
    </form>
  </body>
</html>